:root {
  --pink: #f9b4ab;
  --yellow: #fdebd3;
  --blue: #264e70;
  --green: #679186;
  --turquoise: #bbd4ce;
}

.NavBar {
  background-color: transparent;
  position: fixed;
  z-index: 1000;
}

.NavBarItem {
  cursor: pointer;
}

.screen-height {
  height: 100vh;
}

.project-img {
  width: inherit;
}

.Intro {
  background-color: var(--yellow);
}

.Introduction {
  position: absolute;
}

.AboutMe {
  background-color: var(--turquoise);
}

.Projects {
  background-color: var(--blue);
}

.Footer {
  background-color: var(--green);
}